.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.setup-area {
  display: inline-block;
  top: 0;
  left: 0;
  height: 40%;
  z-index: -1;
}

.setup-area img {
  margin-left: 10px;
}

.game-board {
  display: block;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 700px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
